.App {
  text-align: center;
  /* text-shadow: 2px 2px 5px rgb(139, 43, 123); */
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  /* pointer-events: none; */
  cursor:progress;
  border-radius: 110px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
    animation-direction: reverse;
    
  }
}

.App-header {
  background-color: #0e1a13;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(230, 10, 175);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
